<div class=" main-container container container-login">
    <h1 class="container-login-h1">Login</h1>

    <form novalidate (ngSubmit)="login()" class="" [formGroup]="loginForm">



        <div class="alert alert-danger" *ngIf="errors.length > 0">
            <h3 id="msgRetorno">Opa! Alguma coisa não deu certo:</h3>
            <ul>
                <li *ngFor="let error of errors">{{ error }}</li>
            </ul>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">E-mail</label>
            <div class="col-md-12">
                <input class="form-control container-login-input" id="email" type="text" placeholder="Favor preencher E-mail"
                    formControlName="email" [ngClass]="{'is-invalid': displayMessage['email'] }" />
                <span class="text-danger" *ngIf="displayMessage['email']">
                    <p [innerHTML]="displayMessage['email']"></p>
                </span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Senha</label>
            <div class="col-md-12">
                <input class="form-control container-login-input" id="password" type="password" placeholder="Favor preencher Senha"
                    formControlName="password" [ngClass]="{'is-invalid': displayMessage['password'] }" />
                <span class="text-danger" *ngIf="displayMessage['password']">
                    <p [innerHTML]="displayMessage['password']"></p>
                </span>
            </div>
        </div>
        <br>
        <div class="form-group">
            <div class="col-12 ">
                <span><button class="btn btn-success container-login-bt" id="Login" [disabled]="!loginForm.valid"
                        type="submit">ENTRAR</button></span>
            </div>
        </div>
        <br>
    </form>
</div>