<owl-carousel-o [options]="customOptions">
    @for(item of carousel_item; track item){
        <ng-template carouselSlide>
            <div class="card">
              <div class="card-body">
                <div class="new-arrival-product">
                  <div class="new-arrivals-img-contnent">
                    <img class="img-fluid" src="{{ item.img }}" alt="">
                  </div>
                  <div class="new-arrival-content text-center mt-3">
                    <h4><a routerLink="/admin/ecom-product-detail">{{ item.title }}</a></h4>
                    <ul class="star-rating">
                      @for(starRow of [].constructor(5); track starRow; let i = $index){
                        @if(item.rating > i){
                          <li><i class="fa fa-star" [ngClass]="[i == 4 ? 'me-0':'me-1']"></i></li>
                        } @else {
                          <li><i class=" fa fa-star grey " [ngClass]="[i == 4 ? 'me-0':'me-1']"></i></li>
                        }
                      }
                    </ul>
                    <span class="price">{{ item.price | currency:'USD'}}</span>
                  </div>
                </div>
              </div>
            </div>

        </ng-template>
    }
</owl-carousel-o>
