<div class="event-sidebar dz-scroll" id="eventSidebar">
    <div class="card shadow-none rounded-0 bg-transparent h-auto mb-0">
        <div class="card-body text-center event-calender pb-2 custom-date-time">
            <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
                <ngb-datepicker #dp
                    [(ngModel)]="model"
                    (navigate)="date = $event.next"
                    [navigation]="navigation"
                    [outsideDays]="outsideDays"/>
            </div>
            <span class="clock">
                <button
                    type="button"
                    class="btn btn-outline-primary my-3 border-0 custom-btn py-3"
                    (click)="isCollapsed = !isCollapsed"
                    [attr.aria-expanded]="!isCollapsed"
                    aria-controls="collapseExample"
                >
                    <i class="fa-solid clock-icon" [ngClass]="{'fa-clock':!isCollapsed, 'fa-calendar':isCollapsed}"></i>
                </button>
                <div #collapse="ngbCollapse" [(ngbCollapse)]="!isCollapsed">
                    <ngb-timepicker [(ngModel)]="time" [meridian]="meridian" />
                </div>
            </span>
        </div>
    </div>
    <div class="card shadow-none rounded-0 bg-transparent h-auto">
        <div class="card-header border-0 pb-0">
            <h4 class="text-black">Upcoming Events</h4>
        </div>
        <div class="card-body">
            <div class="media mb-5 align-items-center event-list">
                <div class="p-3 text-center rounded me-3 date-bx bgl-primary">
                    <h2 class="mb-0 text-black">3</h2>
                    <h5 class="mb-1 text-black">Wed</h5>
                </div>
                <div class="media-body px-0">
                    <h6 class="mt-0 mb-3 fs-14"><a class="text-black" routerLink="/admin/events">Live Concert Choir Charity Event 2020</a></h6>
                    <ul class="fs-14 list-inline mb-2 d-flex justify-content-between">
                        <li>Ticket Sold</li>
                        <li>561/650</li>
                    </ul>
                    <div class="progress mb-0" style="height:4px; width:100%;">
                        <div class="progress-bar bg-warning progress-animated" style="width:85%; height:100%;" role="progressbar">
                            <span class="sr-only">60% Complete</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="media mb-5 align-items-center event-list">
                <div class="p-3 text-center rounded me-3 date-bx bgl-primary">
                    <h2 class="mb-0 text-black">16</h2>
                    <h5 class="mb-1 text-black">Tue</h5>
                </div>
                <div class="media-body px-0">
                    <h6 class="mt-0 mb-3 fs-14"><a class="text-black" routerLink="/admin/events">Beautiful Fireworks Show In The New Year Night</a></h6>
                    <ul class="fs-14 list-inline mb-2 d-flex justify-content-between">
                        <li>Ticket Sold</li>
                        <li>431/650</li>
                    </ul>
                    <div class="progress mb-0" style="height:4px; width:100%;">
                        <div class="progress-bar bg-warning progress-animated" style="width:50%; height:100%;" role="progressbar">
                            <span class="sr-only">60% Complete</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="media mb-0 align-items-center event-list">
                <div class="p-3 text-center rounded me-3 date-bx bgl-success">
                    <h2 class="mb-0 text-black">28</h2>
                    <h5 class="mb-1 text-black">Fri</h5>
                </div>
                <div class="media-body px-0">
                    <h6 class="mt-0 mb-3 fs-14"><a class="text-black" routerLink="/admin/events">The Story Of Danau Toba (Musical Drama)</a></h6>
                    <ul class="fs-14 list-inline mb-2 d-flex justify-content-between">
                        <li>Ticket Sold</li>
                        <li>650/650</li>
                    </ul>
                    <div class="progress mb-0" style="height:4px; width:100%;">
                        <div class="progress-bar bg-success progress-animated" style="width:100%; height:100%;" role="progressbar">
                            <span class="sr-only">60% Complete</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer justify-content-between border-0 d-flex fs-14">
            <span>5 events more</span>
            <a routerLink="/admin/events" class="text-primary">View more <i class="las la-long-arrow-alt-right scale5 ms-2"></i></a>
        </div>
    </div>
    <div class="card shadow-none rounded-0 bg-transparent h-auto mb-0">
        <div class="card-body text-center event-calender">
            <a href="javascript:void(0);" class="btn btn-primary btn-rounded btn shadow" (click)="openCenter(exampleModal)">
                + New Event
            </a>
        </div>
        <!-- modal  -->
        <ng-template #exampleModal let-modal>
            <div class="modal-header">
                <h5 class="modal-title">Event Title</h5>
                <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Event Name</label>
                            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="The Story Of Danau Toba">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </ng-template>
    </div>
</div>
