<div class="content-body">
  <!-- row -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-12">
        <div class="card">
          <div class="card-body px-4 py-3 py-md-2">
            <div class="row align-items-center">
              <div class="col-sm-12 col-md-7">
                <ul class="nav nav-pills review-tab" ngbNav #nav1="ngbNav" [(activeId)]="active">
                  <li [ngbNavItem]="1" class="nav-item">
                    <a href="javascript:void(0);" ngbNavLink class="nav-link"> All Review</a>
                    <ng-template ngbNavContent>
                      <app-reviews-list [data_nav]="'allList'"></app-reviews-list>
                    </ng-template>
                  </li>
                  <li [ngbNavItem]="2" class="nav-item">
                    <a href="javascript:void(0);" ngbNavLink class="nav-link">Published</a>
                    <ng-template ngbNavContent>
                      <app-reviews-list [data_nav]="'published'"></app-reviews-list>
                    </ng-template>
                  </li>
                  <li [ngbNavItem]="3" class="nav-item">
                    <a href="javascript:void(0);" ngbNavLink class="nav-link">Deleted</a>
                    <ng-template ngbNavContent>
                      <app-reviews-list [data_nav]="'deleteList'"></app-reviews-list>
                    </ng-template>
                  </li>
                </ul>
              </div>
              <div class="col-sm-12 col-md-5 text-md-end mt-md-0 mt-4">
                <a href="javascript:void(0);" class="btn btn-primary me-2 px-4 btn-sm">Publish</a>
                <a href="javascript:void(0);" class="btn btn-danger px-4 btn-sm">Delete</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-12">
        <div class="tab-content">
          <div id="navpills-1" class="tab-pane fade show active" aria-labelledby="navpills-1">
            <div class="table-responsive rounded table-hover fs-14">
              <div [ngbNavOutlet]="nav1"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
