<div class="mb-3">
</div>
<h2>Categorias</h2>
<div *ngIf="errorMessage" class="alert alert-danger">
  {{ errorMessage }}
</div>
<a class="btn btn-primary"  [routerLink]="['/category/create']" routerLinkActive="router-link-active" >Nova Categoria</a>
<div class="container">
    <div class="row">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th>Ações</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let category of categories">
                <td>{{category.name}}</td>
                <td>{{category.description}}</td>
                <td >
                  <a class="btn btn-sm btn-primary me-2" [routerLink]="['/category/edit', category.id]" routerLinkActive="router-link-active" *ngIf="!category.isPattern" >Editar</a>
                  <button class="btn btn-sm btn-danger" (click)="onDelete(category.id!)" *ngIf="!category.isPattern">
                    Excluir
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
    </div>
<div class="mb-4">
</div>