<footer class="footer">
  <div class="footer-content">
    <p class="text-center">&copy; 2025 Minha Empresa. Todos os direitos reservados.</p>
    <ul class="footer-links navbar-nav d-flex flex-row gap-3 justify-content-center">
      <li class="nav-item"><a href="#">Sobre</a></li>
      <li class="nav-item"><a href="#">Serviços</a></li>
      <li class="nav-item"><a href="#">Contato</a></li>
    </ul>
    <div class="container text-center">
      ProFin - Created by <a href="#">ProFin Team</a>
    </div>
  </div>

</footer>