<div class="profile-head">
    <div class="photo-content">
        <div class="cover-photo rounded"></div>
    </div>
    <div class="profile-info">
        <div class="profile-photo">
            <img src="assets/images/profile/profile.png" class="img-fluid rounded-circle" alt="/">
        </div>
        <div class="profile-details">
            <div class="profile-name px-3 pt-2">
                <h4 class="text-primary mb-0">{{ name }}</h4>
                <p>UX / UI Designer</p>
            </div>
            <div class="profile-email px-2 pt-2">
                <h4 class="text-muted mb-0">{{ email }}</h4>
                <p>Email</p>
            </div>
            <div class="dropdown ms-auto">
                <a href="javascript:void(0);" class="btn btn-primary light sharp" data-bs-toggle="dropdown" aria-expanded="true"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="18px" height="18px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24" height="24"></rect><circle fill="#000000" cx="5" cy="12" r="2"></circle><circle fill="#000000" cx="12" cy="12" r="2"></circle><circle fill="#000000" cx="19" cy="12" r="2"></circle></g></svg></a>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li class="dropdown-item"><i class="fa fa-user-circle text-primary me-2"></i> View profile</li>
                    <li class="dropdown-item">
                        <a href="javascript:void(0);" (click)="openCenter(addCloseFriendModal)" >
                         <i class="fa fa-users text-primary me-2"></i> Add to close friends</a>
                    </li>
                    <li class="dropdown-item">
                        <a href="javascript:void(0);" (click)="openCenter(createGroupModal)">
                            <i class="fa fa-plus text-primary me-2"></i> Create group</a>
                    </li>
                    <li class="dropdown-item">
                        <a href="javascript:void(0);"class="text-danger sweet-confirm" (click)="blockProfileAlert('Block Profile ?')">
                            <i class="fa fa-ban text-danger me-2"></i> Block
                        </a>
                    </li>
                </ul>
            </div> 
        </div>
    </div>
</div>

<!-- Add to close friends Modal-->
<ng-template #addCloseFriendModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title">Add to close friends</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <form>
            <div class="mb-3">
                <input class="form-control" placeholder="search here...">
            </div>
            <ul class="user-media-list">
                @for(item of modalGroup; track item;){
                    <li class="mb-2 border-bottom pb-2">
                        <div class="d-flex align-items-center">
                            <div class="img_cont me-2">
                                <img src="{{ item.img }}" height="45" width="45"
                                    class="rounded-circle user_img" alt="">
                            </div>
                            <div class="user_info">
                                <h6 class="mb-0">{{ item.name }}</h6>
                                <p class="mb-0">{{ item.status }}</p>
                            </div>
                        </div>
                    </li>
                }
            </ul>
            <input type="submit" value="Done" class="submit btn btn-primary w-100" name="submit">
        </form>
    </div>
</ng-template>

<!-- Create Group Modal-->
<ng-template #createGroupModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title">Create Group</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <form>
            <div class="mb-3">
                <label class="form-label">Name</label>
                <input class="form-control" placeholder="Enter group name">
            </div>
            <div class="mb-3">
                <label class="form-label">Select Friends</label>
                <input class="form-control" placeholder="search here...">
            </div>
            <ul class="user-media-list">
                @for(item of modalGroup; track item; let i = $index){
                    @if(i < 3){
                        <li class="mb-2 border-bottom pb-2">
                            <div class="d-flex align-items-center">
                                <div class="img_cont me-2">
                                    <img src="{{ item.img }}" height="45" width="45"
                                        class="rounded-circle user_img" alt="">
                                </div>
                                <div class="user_info">
                                    <h6 class="mb-0">{{ item.name }}</h6>
                                    <p class="mb-0">{{ item.status }}</p>
                                </div>
                            </div>
                        </li>
                    }
                }
            </ul>
            <input type="submit" value="Create" class="submit btn btn-primary w-100" name="submit">
        </form>
    </div>
</ng-template>