<!-- Page Content -->

<header class="bg-primary py-5 mb-5 banner">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class=" row col-12">
                <img class="banner-logo col-3" src="gerenciamento.png" alt="Minha Logo">
                <span class="col-1 plus-and-equals">+</span>
                <img class="banner-logo col-3" src="futuro.png" alt="Minha Logo">
         
                <span class="col-1 plus-and-equals">=</span>
                <img class="banner-logo col-3" src="logo-banner.png" alt="Minha Logo">
            </div>
            <div class="col-lg-10">
                <p class="frase-banner">Quem domina suas <b class="frasedestaque">finanças hoje</b>, constrói um futuro de <b class="frasedestaque">liberdade e oportunidades amanhã</b></p>
            </div>
        </div>
    </div>
</header>

<div class="container main-container">
    <div class="row text-center">

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
                <img class="card-img-top"src="categoria.png" height="250px" width="250px" alt="">
                <div class="card-body">
                    <h4 class="card-title">Categorias </h4>
                    <p class="card-text">Organize suas despesas e receitas por categorias, facilitando o controle e a análise do seu orçamento.</p>
                </div>
       
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
                <img class="card-img-top" src="orcamento.png" height="250px" width="250px" alt="">
                <div class="card-body">
                    <h4 class="card-title">Orçamento</h4>
                    <p class="card-text">Defina metas financeiras para manter o equilíbrio entre seus ganhos e gastos, ajudando a planejar o futuro.</p>
                </div>
        
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
                <img class="card-img-top" src="transacoes.png" height="250px" width="250px" alt="">
                <div class="card-body">
                    <h4 class="card-title">Transações</h4>
                    <p class="card-text">Acompanhe cada entrada e saída de dinheiro, garantindo total transparência e controle sobre suas finanças.</p>
                </div>
    
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
                <img class="card-img-top" src="relatorio.png" height="250px" width="250px" alt="">
                <div class="card-body">
                    <h4 class="card-title">Relatórios</h4>
                    <p class="card-text">Obtenha visões detalhadas do seu desempenho financeiro com relatórios que ajudam a identificar padrões e otimizar seu planejamento.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Fim Content -->