<div class="card">
    <div class="card-header border-0 pb-3 d-sm-flex d-block ">
        <h4 class="card-title">Latest Sales</h4>
        <div class="d-flex mt-3 mt-sm-0">
            <app-dropdown [dropdown]="dropdownWeekly" class="me-3"></app-dropdown>

            <app-dropdown [dropdown]="dropdownYear"></app-dropdown>
        </div>
    </div>
    <div class="card-body">
        <div class="row mx-0 align-items-center">
            <div class="col-sm-8 col-md-7 col-xxl-7 px-0 text-center mb-3 mb-sm-0">
                <div id="chart" class="d-inline-block" style="min-height: 216.9px;">
                    <app-pie-chart-apex [chart_item]="chartOptions"> </app-pie-chart-apex>
                </div>
            </div>
            <div class="col-sm-4 col-md-5 col-xxl-5 px-0">
                <div class="chart-deta">
                    <div class="col px-0">
                        <span class="bg-warning"></span>
                        <div class="mx-3">
                            <p class="fs-14">Ticket Left</p>
                            <h3>21,512</h3>
                        </div>
                    </div>
                    <div class="col px-0">
                        <span class="bg-primary"></span>
                        <div class="mx-3">
                            <p class="fs-14">Ticket Sold</p>
                            <h3>456,72</h3>
                        </div>
                    </div>
                    <div class="col px-0">
                        <span class="bg-success"></span>
                        <div class="mx-3">
                            <p class="fs-14">Event Held</p>
                            <h3>235</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>