<div class="card">
    <div class="card-body p-4">
        <div class="media align-items-center">
            <span class="me-3">
                <!-- <app-pie-chart-apex [chart_item]="chartOptions"></app-pie-chart-apex> -->
                <app-doughnut-chart-js [index]="1" [chartOptions]="65"></app-doughnut-chart-js>  
            </span>
            <div class="media-body">
                <div class="d-flex align-items-center">
                    <h3 class="mb-0">25 Left</h3>
                </div>
                <p class="mb-0">Available Ticket</p>
            </div>
        </div>
    </div>
</div>