<div class="content-body">
    <!-- row -->
    <div class="container-fluid">
        <div class="page-titles">

            <app-breadcrumb [breadcrumb]="breadcrumbList"> </app-breadcrumb>

        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                          <h4 class="card-title">All Ticket</h4>
                          <a routerLink="/admin/create-ticket" class="btn btn-primary">Add ticket</a>
                     </div>
                     <div class="card-body">
                         <div class="table-responsive ticket-table">

                          <div id="example_wrapper" class="dataTables_wrapper no-footer d-flex align-items-center justify-content-between">
                            <div class="dataTables_length" id="example_length">
                              <label class="d-flex align-items-center">Show
                                <select2 ngDefaultControl [data]="data" [templates]="template" placeholder="{{limit}}" class="select2 mx-2" (update)="selectLimit($event)" >
                                  <ng-template #template let-data="data" >{{data?.name}}</ng-template>
                                </select2>
                                  entries
                              </label>
                            </div>
                            <div class="dataTables_wrapper ">
                              <div id="example_filter" class="dataTables_filter d-inline-block">
                                  <label>Search:
                                      <input type="search" [(ngModel)]="searchText" (ngModelChange)="searchKey($event)" class="" placeholder="Search.." aria-controls="example">
                                  </label>
                              </div>
                            </div>
                          </div>

                            <table mat-table matSort style="min-width: 845px"
                                class="table display dataTablesCard dataTable no-footer"
                                (matSortChange)="sortData($event)">
                                <thead>
                                    <tr>
                                        <th class="sorting_1  pe-0 text-center bg-none no-data-img">
                                            <div class="checkbox text-center align-self-center">
                                                <input class="form-check-input" type="checkbox" (click)="checkUncheckAll()" id="checkAll">
                                                <label class="form-check-label" for="checkAll">
                                                </label>
                                            </div>
                                        </th>
                                        <th mat-sort-header="name">User</th>
                                        <th mat-sort-header="title">Title</th>
                                        <th mat-sort-header="priority">Priority</th>
                                        <th mat-sort-header="category">Category</th>
                                        <th mat-sort-header="expireDate">Date</th>
                                        <th mat-sort-header="status">Status</th>
                                        <th>Assign To</th>
                                        <th>Last Reply</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for(row of allData.data; track row){
                                    <tr class="selected odd">
                                        <td class="pe-0 text-center sorting_1">
                                            <div class="checkbox text-center align-self-center">
                                                <input type="checkbox" class="form-check-input" id="customCheckBox2" [checked]="boxActive">
                                                <label class="form-check-label" for="customCheckBox2"></label>
                                            </div>
                                        </td>
                                        <td>{{ row.name }}</td>
                                        <td>{{row.title}}</td>
                                        <td>{{row.priority}}</td>
                                        <td>{{row.category}}</td>
                                        <td>{{row.expireDate}}</td>
                                        <td>
                                            @if(row.status == 'New'){
                                                <span class="badge badge-danger">{{row.status}}</span>
                                            } @else if(row.status == 'On-Hold'){
                                                <span class="badge badge-warning">{{row.status}}</span>
                                            } @else if(row.status == 'Re-Open'){
                                                <span class="badge badge-secondary">{{row.status}}</span>
                                            } @else {
                                                <span class="badge badge-info">{{row.status}}</span>
                                            }
                                        </td>
                                        <td>
                                            <a href="javascript:void(0)" class="btn btn-outline-primary btn-xs">Assign</a>
                                        </td>
                                        <td>{{row.lastReply}}</td>
                                        <td>
                                            <div class="d-flex">
                                                <a href="javascript:void(0);" class="btn btn-primary shadow btn-xs sharp me-2"><i class="fas fa-pencil-alt"></i></a>
                                                <a href="javascript:void(0);" class="btn btn-danger shadow btn-xs sharp"><i class="fa fa-trash"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    } @empty {
                                      <tr>
                                        <td class="text-center text-danger" colspan="11">NO RECORD FOUND</td>
                                      </tr>
                                    }
                                </tbody>
                            </table>
                            <div class="dataTables_wrapper">
                                <div class="dataTables_info" id="example_info" role="status"
                                    aria-live="polite">Showing {{page}} to
                                    {{ allData.data.length }} of {{ allData.total }} entries</div>
                                <div class="dataTables_paginate paging_simple_numbers" id="example_paginate">
                                    <app-pagination [totalPage]="totalPage" [page]="page"
                                        (newPage)="pageChange($event)"></app-pagination>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
