<div class="container mt-4">
  <h2>{{ isEditing ? 'Editar' : 'Criar' }} Transações Financeiras</h2>

  <div *ngIf="errorMessage" class="alert alert-danger">
    {{ errorMessage }}
  </div>

  <form [formGroup]="financialTransactionForm" (ngSubmit)="onSubmit()" class="mt-4">
    <div class="form-group mb-3">
      <label for="categoryFinancialTransactionId">Categoria</label>
      <select class="form-control" id="categoryFinancialTransactionId" formControlName="categoryFinancialTransactionId"
        [class.is-invalid]="financialTransactionForm.get('categoryFinancialTransactionId')?.invalid && financialTransactionForm.get('categoryFinancialTransactionId')?.touched">
        <option value="">Selecione uma categoria</option>
        <option *ngFor="let category of categories" [value]="category.id">
          {{ category.name }}
        </option>
      </select>
      <div class="invalid-feedback">
        Categoria é obrigatória
      </div>
    </div>


    <div class="form-group mb-3">
      <label for="description">Descrição</label>
      <input type="text" class="form-control" id="description"
        [class.is-invalid]="financialTransactionForm.get('description')?.invalid && financialTransactionForm.get('description')?.touched"
        formControlName="description">
      <div class="invalid-feedback">
        Descrição é obrigatória
      </div>
    </div>

    <div class="form-group mb-3">
      <label for="value">Valor</label>
      <input [currencyMask]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" class="form-control" id="value"
        formControlName="value"
        [class.is-invalid]="financialTransactionForm.get('value')?.invalid && financialTransactionForm.get('value')?.touched">
      <div class="invalid-feedback">
        Limite é obrigatório e deve ser maior que zero
      </div>
    </div>


    <div class="d-flex gap-2">
      <button type="submit" class="btn btn-primary" [disabled]="financialTransactionForm.invalid">
        {{ isEditing ? 'Atualizar' : 'Criar' }}
      </button>
      <button type="button" class="btn btn-secondary" [routerLink]="['/financial-transaction']">
        Cancelar
      </button>
    </div>
  </form>
  <br>
</div>