<div class=" content-body default-height">
    <div class="container-fluid">
        <div class="page-titles">

            <app-breadcrumb [breadcrumb]="breadcrumbList"> </app-breadcrumb>

        </div>
        <!-- Row -->
        <div class="row">
            <div class="col-xl-12">
                <div class="filter cm-content-box box-primary">

                    <app-filter-cm-content-box></app-filter-cm-content-box>

                </div>
                <div class="mb-4 pb-3">
                    <ul class="d-flex align-items-center flex-wrap">
                         <li><a routerLink="/admin/cms-blog-add" class="btn btn-sm btn-primary ">Add Blog</a></li>
                        <li><a routerLink="/admin/cms-blog-category" class="btn btn-sm btn-primary mx-1">Blog Category</a></li>
                        <li><a routerLink="/admin/cms-blog-category" class="btn btn-sm btn-primary mt-sm-0 mt-1">Add Blog Category</a></li>
                    </ul>
                </div>
                <div class="filter cm-content-box box-primary">
                    <div class="content-title" (click)="dropicon(2)" data-bs-toggle="collapse" data-bs-target="#demo-1">
                        <div class="cpa">
                            <i class="fa-solid fa-file-lines me-1"></i>Blogs List
                        </div>
                        <div class="tools">
                            <a href="javascript:void(0);" class="SlideToolHeader"
                            [ngClass]="{'expand':activeToggleArray.indexOf(2) > -1 }"><i class="fal fa-angle-down"></i></a>
                        </div>
                    </div>
                    <div class="cm-content-body form excerpt show" id="demo-1">
                        <div class="card-body pb-4">
                            <div class="table-responsive">
                                <table class="table ">
                                    <thead>
                                        <tr>
                                            <th >S.No</th>
                                            <th >Title</th>
                                            <th >Status</th>
                                            <th >Modified</th>
                                            <th >Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for(row of allData.data; track row; let i = $index){
                                            <tr>
                                                <td>{{ row.id }}</td>
                                                <td>{{ row.title }}</td>
                                                <td>{{ row.status }}</td>
                                                <td>{{ row.date }}</td>
                                                <td class="text-nowrap">
                                                    <a href="javascript:void(0);" class="btn btn-warning btn-sm content-icon me-2">
                                                        <i class="fa-solid fa-pen-to-square"></i>
                                                    </a>
                                                    <a href="javascript:void(0);" class="btn btn-danger btn-sm content-icon">
                                                        <i class="fa-solid fa-trash"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                                <div class="dataTables_wrapper">
                                    <div class="dataTables_info" id="example_info" role="status"
                                        aria-live="polite">Showing {{page}} to
                                        {{totalRows}} of {{ allData.total }} entries</div>
                                    <div class="dataTables_paginate paging_simple_numbers m-0" id="example_paginate">
                                        <app-pagination [totalPage]="totalPage" [page]="page"
                                            (newPage)="pageChange($event)"></app-pagination>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
